* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background-color: #f2f2f2;
  --main-color-one: #048abf;
  --main-color-two: #035aa6;
  --destac-color-one: #f21d2f;
  --destac-color-two: #f2acb9;
}

body {
  background-color: #f2f2f2;
}
.navbar-background { 
  display: flex; 
  margin-bottom: 4rem;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  border-bottom: 4px solid;
  background-color: white;
  z-index: 1;
}
.navbar-container {
  width: 80%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1;
}
.logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.15rem;
  text-shadow: 0rem 0rem 0.6rem #c0bebe;
  color: black;
}
.navbarlinks {
  width: 400px;
}
.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.navbar-list-item {
  margin: 6px 6px;
  text-shadow: 0rem 0rem 0.4rem #535353;
  color: black;
}
.navbar-link {
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
}
.filler {
  height: 5rem;
}
.ads-container {
  z-index: -1px;
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 250px;
  background-color: var(--destac-color-two);
  border-radius: 4px;
}
.ads {
  width: 92%;
  height: 92%;
  background-color: antiquewhite;
}

/*site-content*/
.site-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  margin: auto;
  margin-top: 2rem;
  padding-bottom: 1.2rem;
  border-radius: 8px;
  background-color: white;
}
.principal-collumn {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner {
  margin-top: 0.4rem;
  width: 98%;
  height: 350px;
  background-color: var(--destac-color-one);
}
.posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lasts-posts-container {
  width: 98%;
}

.last-posts-header {
  margin-top: 1.2rem;
  margin-left: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 1.2rem;
}
.all-posts {
  border: 2px solid black;
  border-left: 12px solid black;
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  width: 95%;
  height: 160px;
  background-color: #f1f1f1;
}
.post-one-container {
  margin-top: 0.4rem;
}
.post-img-border {
  margin-left: 0.8rem;
  height: 150px;
  width: 150px;
  min-width: 150px;
  border-right: 6px solid cornflowerblue;
}
.post-call-container {
  margin-left: 0.8rem;
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 72%;
  height: 80%;
  text-align: justify;
}
.category-and-post-little-text-container {
  margin-left: 0.4rem;
  padding-right: 0.4rem;
  margin-bottom: 0.2rem;
  display: flex;
  width: fit-content;
}
.category {
  margin-left: 0.4rem;
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #e4f830;
}
.post-title-bar {
  margin-left: 0.4rem;
  font-weight: 700;
}
.post-little-text {
  display: inline;
  width: fit-content;
  margin-left: 0.4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}
.post-title {
  margin-left: 0.8rem;
  width: 100%;
  text-transform: uppercase;
}
.post-seo {
  margin-left: 0.8rem;
  margin-top: 0.4rem;
}
.read-more {
  margin-left: 2.4rem;
  margin-top: 0.4rem;
  text-decoration: none;
  color: #048abf;
  font-weight: 600;
  text-align: right;
}

/*sidebar*/
.sidebar {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.2rem;
}
.sidebar-menu {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  padding-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  border-bottom: 2px solid;
}
.categorias {
  font-size: larger;
  font-weight: 700;
  margin-bottom: 0.4rem;
}
.sidebar-list {
  width: 80%;
}
.sidebar-list-item {
  list-style: none;
  font-size: larger;
  text-transform: capitalize;
}
.sidebar-first-ad {
  z-index: -2;
  position: sticky;
  top: 6rem;
  height: 700px;
  width: 98%;
  background-color: cornsilk;
}
/*footer*/
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
  height: 200px;
  background-color: #535353;
}
.footer-lists-container {
  margin-top: 0.8rem;
  display: flex;
  width: 98%;
  max-width: 1200px;
  justify-content: space-between;
}
.footer-list-title {
  color: #f1f1f1;
}
.footer-list {
  list-style: none;
  color: #c0bebe;
}
.footer-disclaimer-container {
  padding-bottom: 0.8rem;
}
.footer-disclaimer-text {
  color: #f1f1f1;
  text-shadow: 0rem 0.2rem 0.4rem #555555;
}


@media (max-width: 768px) {
  .logo {
    font-size: 1.2rem;
  }
  .navbar-list {
    font-size: 0.8rem;
  }
  .ads-container {
    display: flex;
  }
  .site-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .banner {
  }
  .principal-collumn {
    display: flex;
    width: 100%;
  }
  .posts-container {
    width: 100%;
  }
  .lasts-posts-container {
    width: 100%;
  }
  .top-reads-container {
    width: 100%;
  }

  /*sidebar*/
  .sidebar {
    width: 100%;
    height: fit-content;
    margin-top: 0.8rem;
    padding-bottom: 0rem;
  }
  .sidebar-list {
    margin-top: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .sidebar-first-ad {
    width: 98%;
    height: 150px;
    background-color: #f21d2f;
    position: relative;
    margin-top: 0.8rem;
    margin: 0;
    z-index: 0;
    top: 0;    
  }
}

@media (max-width: 428px) {
  .all-posts {
    height: fit-content;
    min-height: 200px;
  }
  .post-img-border {
    display: none;
  }
  .category-and-post-little-text-container {
    font-size: small;
    margin-bottom: 0.4rem;
  }
  .post-title {
    width: 96%;
  }
  .post-call-container {
    width: 100%;
  }
}
