* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background-color: #f2f2f2;
  --main-color-one: #048abf;
  --main-color-two: #035aa6;
  --destac-color-one: #f21d2f;
  --destac-color-two: #f2acb9;
}

.navbar-background {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: blue;
}
.navbar-container {
  width: 70%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  background-color: blueviolet;
}
.logo-container {
  background-color: brown;
}
.logo {
  font-family: Arial, Helvetica, sans-serif;
}
.navbarlinks {
  width: 400px;
  background-color: bisque;
}
.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.navbar-list-item {
  margin: 6px 6px;
}
.navbar-link {
  text-decoration: none;
}
.ads-container {
  max-width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 98%;
  height: 250px;
  margin: auto;
  margin-top: 0.4rem;
  background-color: var(--destac-color-two);
}
.ads {
  width: 23%;
  height: 92%;
  background-color: antiquewhite;
}
.noshow-ads {
  display: flex;
}

/*site-content*/
.site-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  height: 400vh;
  margin: auto;
  margin-top: 0.8rem;
  background-color: var(--background-color);
}
.principal-collumn {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner {
  margin-top: 0.4rem;
  width: 98%;
  height: 350px;
  background-color: var(--destac-color-one);
}
.posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lasts-posts-container {
  width: 98%;
}

.last-posts-header {
  margin-top: 1.2rem;
  margin-left: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 1.2rem;
}
.all-posts {
  border: 2px solid black;
  border-left: 12px solid black;  
  margin-top: 0.8rem;
  display: flex;
  align-items: center;  
  width: 95%;
  height: 160px;
  background-color: #f1f1f1;
}
.post-one-container {
  margin-top: 0.4rem;
}
.post-img-border {  
  margin-left: 0.8rem;
  height: 150px;
  width: 150px;
  min-width: 150px;
  border-right: 6px solid cornflowerblue;
}

.post-call-container {
  margin-left: 0.8rem;
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 72%;
  height: 80%;
  text-align: justify;  
}
.category-and-post-little-text-container {
  margin-left: 0.8rem;
  padding-right: 0.4rem;
  margin-bottom: 0.2rem;
  display: flex;
  background-color: #e4f830;
  width: fit-content;
  
}
.category {
  margin-left: 0.4rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 700;  
  display: flex;
  
}
.post-title-bar {
  margin-left: 0.4rem;
  font-weight: 700;
}
.post-little-text {
  margin-left: 0.4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: medium;  
  font-family: Arial, Helvetica, sans-serif;  
  
}
.post-title {
  margin-left: 0.8rem;
  width: 100%;  
  text-transform: uppercase;  
}
.post-seo {
  margin-left: 0.8rem;
  margin-top: 0.4rem;
}
.read-more {
  margin-left: 2.4rem;
  margin-top: 0.4rem;
  text-decoration: none;
  color: #048abf;
  font-weight: 600;
  text-align: right;  
}
/*sidebar*/

.sidebar {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: beige;
}
.sidebar-ad {
  width: 97%;
  height: 150px;
  background-color: var(--destac-color-two);
  margin: 0.4rem;
}
.top-reads-container {
  margin-top: 00.4rem;
  width: 97%;
  height: 450px;
  background-color: var(--main-color-one);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-reads-title {
  margin-top: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.top-reads-list {
  list-style: none;
}
.top-reads-list > li {
  margin-top: 0.4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*footer*/
.footer-container {
  width: 100%;
  height: 500;
}

@media (max-width: 700px) {
  .ads-container {
    display: flex;

  }
  .site-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .banner {
    width: 600px;
  }
  .principal-collumn {
    display: flex;
    width: 100%;
  }
  .posts-container {
    width: 100%;
  }
  .lasts-posts-container {
    width: 100%;
  }
  .top-reads-container {
    width: 100%;
  }
}

